body{
  font-family: "Roboto", sans-serif;
  line-height: 1.8;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(../assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: 300;
  src: url(../assets/fonts/Roboto-Light.ttf);
}

@media (min-width: 1400px) {
  .container{
    width:1370px;
    margin: 0 auto;
  }
}

ul li{
  list-style-type: none;
}

ul{
  padding-left: 0;
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

.header--bg{
  background: url("../assets/images/vertical.png") no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.header--bg:after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -webkit-linear-gradient( 12deg, rgba(108,76,206, .3) 0%, rgba(127,86,253, 1) 100%);
  z-index: -1;
}

.header__content{
  padding-top: 200px;
  padding-bottom: 120px;
}

.header__content__block{
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}

.header__content__title{
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  margin-top: 0;
}

.header__content__sub-title li{
  display: inline-block;
  font-size: 15px;
  color: #e6e6e6;
}

.header__content__sub-title .padding{
  padding-right: 13px;
  padding-left: 13px;
}

.navbar .navbar-nav > li > a, .navbar .navbar-brand, .navbar .navbar-nav > li > a:focus{
  background-color: transparent;
  color: #fff;
}

.nav li a{
  font-size: 15px;
}

.navbar{
  padding-top:30px;
}

.navbar-nav {
  margin: 0px -20px;
}

.navbar-toggle{
  background-color: #ddd;
}

@media (min-width: 768px) {
  .nav{
    float: right;
  }
}

.page-section{
	margin-top: 50px;
	margin-bottom: 100px;
}

.page-section__title{
  font-size: 35px;
  color: #273f59;
  text-align: center;
  font-weight: bold;
}

.page-section__title-style{
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.page-section__paragraph{
  font-size: 15px;
  color: #5d5d5d;
  max-width: 540px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
}

.page-section__paragraph--white{
  color: #fff;
  line-height: 1.8;
}

.about__container--narrow{
  max-width: 1245px;
  margin-right: auto;
  margin-left: auto;
}

.about__content{
  padding-top: 50px;
}



.about__description{
  font-size: 16px;
  color: #636262;
  padding-bottom: 25px;
  border-bottom: 1px #C1C1C1 dashed;
  display: block;
}

@media screen and (max-width: 992px){
  .about__image{
   margin-right: 20px;
 }
 .about__description{
  font-size: 16px;
  color: #bd0c0c;
  padding-bottom: 25px;
  border-bottom: 1px #C1C1C1 dashed;
  display: block;
}
}

@media screen and (max-width: 991px){
  .about__image{
   text-align: center;
 }
}

.about__bio{
  font-size: 15px;
  color: #636262;
}

.about__bio strong{
  font-size: 15px;
  color: #2c4055;
  font-family: Roboto-Light;
}

.gutters-80.row{
  margin-right: -40px;
  margin-left: -40px;
}


.row--margin-top{
	margin-top: 40px;
}

.skill--bg{
  background: url("../assets/images/skill.png") no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.skill--bg:after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(120, 88, 221, .9);
  z-index: -1;
}

.skill__container--narrow{
  max-width: 1245px;
  margin-right: auto;
  margin-left: auto;
}

.skill .thumbnail{
  padding: 10px 40px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.skill .thumbnail .progress-bar{
  border-radius: 10px;
}

.skill .thumbnail .progress{
 height: 8px;
 background-color: #E1E1E1;
}

.skill__single-part__title{
  font-size: 15px;
  color: #273f59;
  margin-bottom: 30px;
  margin-top: 5px;
  font-weight: bold;
}

.gutters-60.row{
  margin-right: -30px;
  margin-left: -30px;
}

@media screen and (max-width: 991px){

  .service .thumbnail{
   margin-bottom: 50px
 }
}

.service .thumbnail{
  padding: 30px 19px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  border: 0;
}

.service__single-section__title{
  font-size: 20px;
  color: #273f59;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 20px;
}

.service__single-section__paragraph{
  font-size: 15px;
  color: #7b7b7b;
  line-height: 1.8;
}

.gutters-70.row{
  margin-right: -35px;
  margin-left: -35px;
}

@media (max-width: 991px) {
  .overview__single-section{
   margin-bottom: 40px;
 }
}

.gutters-140.row{
  margin-right: -70px;
  margin-left: -70px;
}

.stock-section{
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;

}

.stock-section__image{
 display: block;
 height: auto;
}

.stock-section h4{
 font-size: 20px;
 font-family: Roboto-Light;
 font-weight: bold;
 color: #fff;
}

.stock-section p{
 font-weight: 15px;
 color: #fff;
 font-family: Roboto-Light;
 font-weight: bold;
}

.stock-section .overlay-content{
  position: absolute;
  bottom: 25px;
  margin-left: 35px;
  z-index: 10;
}

.stock-section__overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;  
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  background-color: rgba(133, 91, 249, .6);
  border-radius: 10px;
}

.stock-section:hover .stock-section__overlay{
  opacity: 1;
}

.gutters-40.row{
  margin-right: -20px;
  margin-left: -20px;
}

@media(max-width: 991px) {
	.stock-section{
		max-width: 340px;
		margin-right: auto;
		margin-left: auto;
	}

}

.footer{
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer--bg{
  background-color: #27353B;
}

.footer__title{
  font-size: 30px;
  color: #fff;
  font-family: Roboto-Light;
  font-weight: bold;
  margin-bottom: 40px;
}

.footer__contact-information li{
  display: inline-block;
}

.footer__contact-information li a{
  font-size: 15px;
  color: #9ca1a3;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 10px;
}

.footer__paragraph{
  font-size: 14px;
  color: #fff;
  font-family: Roboto-Light;
}